$primary: #7eaea2;
$primary2: #daf2ec;
$primary3: #7eaea2;

$secondary: #90bdb2;
$secondary2: #dff1e3;
$secondary3: #456a70;

$text: #296544;

$gradient_start:rgba(89,106,112,100);
$gradient_end:rgba(89,106,112,.17);

$gradient_start2:rgba(213,252,221,.8);
$gradient_end2:rgba(255,255,255,.8);

$black : #456A70;

$h1_weight: medium;
$h1_size: 32px;

$h2_weight: medium;
$h2_size: 24px;

$h3_weight: medium;
$h3_size: 18px;

$h4_weight: medium;
$h4_size: 16px;

$h5_weight: medium;
$h5_size: 14px;

$h6_weight: medium;
$h6_size:  12px;

$text-color: #296544;

